rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper Functions
    function isAuthenticated() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
      
      match /chat/{messageId} {
        allow read, write: if isOwner(userId);
      }
      match /sos_events/{eventId} {
        allow read, write: if isOwner(userId);
      }
      match /location/current {
        allow read, write: if isOwner(userId);
      }
      match /guardians/{guardianId} {
        allow read, write: if isOwner(userId);
      }
    }

    match /{path=**}/guardians/{guardianId} {
      allow read: if isAuthenticated();
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
